@charset "UTF-8";

/* Paleta de cores:
        branco
        preto
        azul - rgb(0, 9, 27)
        verde
*/

/* Configuração principal e para telas pequenas */
* {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
}

body, html {
        background-color:rgb(0, 9, 27);
        height: 100vh;
        width: 100vw;
}

main {
        position: relative;
        height: 100vh;
        width: 100vw;
}

section#login {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background-color: white;
        width: 250px;
        height: 500px;
        border-radius: 20px;
        overflow: hidden; /* tudo oque tiver fora da borda, fica escondido. */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);

        transition: width .3s, height .3s; /*animação de transição*/
        transition-timing-function: ease; /*suaviza a animação*/
}

section#login > div#imagem {
        display: block;

        background: rgb(0, 9, 27) url(../imagens/pexels-fabianwiktor-994605.jpg);
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
}

section#login > div#formulário {
        display: block;
        padding: 10px;
}