@charset "UTF-8";

/* Paleta de cores:
        branco
        preto
        azul - rgb(0, 9, 27)
*/

/* Configuração principal e para telas pequenas */
* {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
}

body, html {
        background-color:black;
        height: 100vh;
        width: 100vw;
}

main {
        position: relative;
        height: 100vh;
        width: 100vw;
}

section#login {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background-color: white;
        width: 250px;
        height: 515px;
        border-radius: 20px;
        overflow: hidden; /* tudo oque tiver fora da borda, fica escondido. */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);

        transition: width .3s, height .3s; /*animação de transição*/
        transition-timing-function: ease; /*suaviza a animação*/
}

section#login > div#imagem {
        display: block;

        background: rgb(0, 9, 27) url(../imagens/pexels-fabianwiktor-994605.jpg);
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
}

section#login > div#formulário {
        display: block;
        padding: 10px;
}

div#formulário > h1 {
        text-align: center;
        margin-bottom: 10px;
}

div#formulário > p {
        font-size: 0.8em;
}

form > div.campo {
        width: 100%;
        display: block;
        height: 40px;
        border-radius: 5px;
        margin: 5px 0px;
}

div.campo > label {
        display: none;
}

form > input[type=submit] {
        display: block;
        font-size: 1em;
        width: 100%;
        height: 40px;
        background-color: black;
        color: white;
        border: none;
        border-radius: 10px;
}

form > input[type=submit]:hover {
        background-color: rgba(71, 71, 71, 0.247);
        color: black;
        cursor: pointer; /* o cursor vira a mãozinha */
        transition-duration: 0.5s;
}

form > a.botão {
        display: block;
        text-align: center;
        font-size: 1em;
        width: 100%;
        height: 40px;
        padding-top: 7px;
        margin-top: 5px;
        background-color: white;
        color: black;
        border: 1px solid black;
        border-radius: 10px;
        text-decoration: none;
}

form > a.botão:hover {
       background-color:rgba(43, 43, 43, 0.664);
       color: white;
       border: 1px solid rgb(73, 73, 73);
       transition-duration: 0.5s;
}


form > a.botão > span {
        font-size: 0.8em;
}